/* === simple.css =========================================================
==== *
 *                                                                              *
 *  A simple style sheet for HTML files                                         *
 *                                                                              *
 * ============================================================================
 */

BODY
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: black;
  background: white;
  margin-top: 1.2em;
}

H1
{
  font-size: 150%;
  color: white;
  background: rgb(0, 80, 160);
  margin-bottom: .6em;
  padding: .3em;
}

H2
{
  font-size: 125%;
  color: rgb(0, 80, 160);
  margin-top: 1.2em;
  margin-bottom: .6em;
  padding-bottom: .3em;
  border-bottom-width: thin;
  border-bottom-style: solid;
}

P
{
  margin-top: .6em;
  margin-bottom: .6em;
}

P.INDENT
{
  margin-top: .6em;
  margin-left: 3em;
  margin-bottom: .6em;
}

P.CODE-BLOCK
{
  font-family: Consolas, Courier, monospace;
  background: rgb(240, 240, 240);
  margin-top: .8em;
  margin-bottom: .8em;
  padding: .3em;
}

P.CODE-BLOCK-INDENT
{
  font-family: Consolas, Courier, monospace;
  background: rgb(240, 240, 240);
  margin-top: .8em;
  margin-left: 3em;
  margin-bottom: .8em;
  padding: .3em;
}

P.NOTE-BLOCK
{
  font-style: italic;
  background: rgb(250, 240, 220);
  margin-top: .9em;
  margin-bottom: .9em;
  padding-top: .3em;
  padding-left: .4em;
  padding-bottom: .3em;
  padding-right: .3em;
}

P.NOTE-BLOCK-INDENT
{
  font-style: italic;
  background: rgb(250, 240, 220);
  margin-top: .9em;
  margin-left: 3em;
  margin-bottom: .9em;
  padding-top: .3em;
  padding-left: .4em;
  padding-bottom: .3em;
  padding-right: .3em;
}

CODE
{
  font-family: Consolas, Courier, monospace;
}

UL
{
  margin-top: .6em;
  margin-left: 1.2em;
  margin-bottom: .6em;
  padding-left: 0;
}

UL.INDENT, UL.indent
{
  margin-top: .6em;
  margin-left: 1.2em;
  margin-bottom: .6em;
  padding-left: 3em;
}

OL
{
  margin-top: .6em;
  margin-left: 1.2em;
  margin-bottom: .6em;
  padding-left: .4em;
}

OL.INDENT
{
  margin-top: .6em;
  margin-left: 1.2em;
  margin-bottom: .6em;
  padding-left: 3.4em;
}

LI
{
  margin-bottom: .6em;
}

TABLE
{
  font-size: 100%;
  margin-top: .6em;
  margin-bottom: .6em;
}

TABLE.INDENT
{
  font-size: 100%;
  margin-top: .6em;
  margin-left: 3em;
  margin-bottom: .6em;
}

TD.FIT
{
  width: 1%;
  white-space: nowrap;
  vertical-align: top;
  padding-left: 0;
  padding-right: 1.8em;
}

TD.FLOAT
{
  width: auto;
  vertical-align: top;
}

SUB
{
  font-size: 90%;
  position: relative;
  vertical-align: baseline;
  bottom: -.3em;
}

SUP
{
  font-size: 90%;
  position: relative;
  vertical-align: baseline;
  top: -.55em;
}

A:LINK, A:VISITED
{
  color: blue;
}

A:ACTIVE, A:HOVER
{
  color: red;
}
